<footer class="tech-footer">
  <div class="container">
    <div class="footer-grid">

      <div class="footer-column">
        <h3>Products</h3>
        <ul>
          <li><a routerLink="/laptop">Laptops</a></li>
          <li><a routerLink="/computer">Computers</a></li>
          <li><a routerLink="/category">Categories</a></li>
        </ul>
      </div>


      <div class="footer-column">
        <h3>Contact</h3>
        <ul>
          <li><a routerLink="/category" class="buy-now-btn">Buy now</a></li>
          <li><a routerLink="/contact" class="contact-btn">Contact us</a></li>
        </ul>
        <div class="social-media">
          <a href="#"><i class="fab fa-facebook"></i></a>
          <a href="#"><i class="fab fa-twitter"></i></a>
          <a href="#"><i class="fab fa-instagram"></i></a>
        </div>
      </div>
    </div>

    <div class="footer-bottom">
      <p>&copy; {{ currentYear }} Computer And Laptop. All rights reserved.</p>
    </div>
  </div>
</footer>
