<header class="app-header">
  <div class="header-container">
    <div class="logo">
      <img src="icons/Logo12.png" alt="J-RAS Logo" height="50">
      <span>J-RAS</span>


    </div>
    <nav class="main-nav">
      <a routerLink="/" routerLinkActive="active">Home</a>
      <a routerLink="/about" routerLinkActive="active">About</a>
      <a routerLink="/computer" routerLinkActive="active">Computer</a>
      <a routerLink="/laptop" routerLinkActive="active">Laptop</a>
      <a routerLink="/products" routerLinkActive="active">Categories</a>
      <a routerLink="/contact" routerLinkActive="active">Contact Us</a>
    </nav>
    <div class="login">
      <a routerLink="/login">Login</a>
    </div>
  </div>
</header>
